body {
  background-color: powderblue;
  font-family: futura-pt-bold, sans-serif;
  font-size: 300%
}

.topnav {
  overflow: hidden;
  background-color: cornflowerblue;
}

.topnav a {
  float: right;
  color: whitesmoke;
  text-align: center;
  padding: 30px 35px;
  text-decoration: none;
  font-size: 20px
}

.topnav a:hover {
  background-color: slateblue;
  color: white;
}

.topnav a.active {
  background-color: lavender;
  color: white; 
}

h1 {
  color: teal;
font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;
}

p {
  Padding: 20px;
  Margin: 60px;
  color: white;
  Font-family: source-sans-pro-light, sans-serif;
  Font-weight: 300;
  Font-style: normal;
}

